@import url(https://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'bold italic' sans-serif;
}
body{
    background: pink;
}
